@font-face {
    font-family: 'Averia Gruesa Libre';
    src: url('../fonts/averiagruesalibre-regular.eot');
    src: url('../fonts/averiagruesalibre-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/averiagruesalibre-regular.woff2') format('woff2'),
         url('../fonts/averiagruesalibre-regular.woff') format('woff'),
         url('../fonts/averiagruesalibre-regular.ttf') format('truetype'),
         url('../fonts/averiagruesalibre-regular.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    font-family: "Averia Gruesa Libre";
    background: url(../images/bg.jpg);
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.main {}

@media (min-width: 900px) {
    .main {
        float: left;
        width: 70%;
    }
}

    .main .newGame {
        display: block;
        margin: 200px 10px 0;
        padding: 5px 0;
        background: #0069bb;
        border-radius: 8px;
        font-size: 30px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    @media (min-width: 900px) {
        .main .newGame {
            margin: 200px auto 0;
            width: 500px;
            font-size: 100px;
        }
    }

.directory {
    background: url(../images/d-bg.jpg);
}

    .directory:before,
    .directory:after {
        content: ' ';
        display: table;
    }

    .directory:after {
        clear: both;
    }

@media (min-width: 900px) {
    .directory {
        float: left;
        width: 30%;
        height: 100%;
    }
}

    .directory .logo {
        margin: 0 10px 10px;
        padding-top: 10px;
        float: left;
        width: 120px;
    }

    @media (min-width: 900px) {
        .directory .logo {
            margin: 0 auto 10px;
            padding: 10px 0;
            float: none;
            width: 238px;
            border-bottom: 3px dashed white;
        }
    }

    .directory .button-callout {
        position: absolute;
        top: 200px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
    }

    @media (min-width: 600px) {
        .directory .button-callout {
            top: 350px;
        }
    }

    @media (min-width: 900px) {
        .directory .button-callout {
            position: static;
            transform: none;
        }
    }

    .directory .new-game-btn {
        display: block;
        margin: 50px auto 0;
        width: 200px;
        background: #0069bb;
        border-radius: 4px;
        font-size: 32px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    @media (min-width: 600px) {
        .directory .new-game-btn {
            width: 400px;
            font-size: 45px;
        }
    }

    @media (min-width: 900px) {
        .directory .new-game-btn {
            width: 200px;
            font-size: 32px;
        }
    }

.ttt-score-board {
    margin: 22px 10px 0 0;
    float: right;
    font-size: 22px;
    text-align: center;
}

@media (min-width: 400px) {
    .ttt-score-board {
        margin-top: 12px;
        font-size: 34px;
    }
}

@media (min-width: 900px) {
    .ttt-score-board {
        margin: 20px auto 0;
        float: none;
        font-size: 64px;
        text-align: center;
    }
}

    .board-column {
        display: inline-block;
    }

    .board-column + .board-column {
        margin-left: 10px;
    }

    @media (min-width: 900px) {
        .board-column + .board-column {
            margin-left: 0;
        }
    }

        .board-title {
            color: #ecf1d4;
        }

            .board-title:after {
                content: ':';
            }

        @media (min-width: 900px) {
            .board-title {
                display: block;
            }

                .board-title:after {
                    content: '';
                }
        }

        .board-count {
            color: white;
        }

.ttt-board {
    margin: 50px auto 0;
    width: 300px;
    height: 300px;
    border-spacing: 0;
}

@media (min-width: 600px) {
    .ttt-board {
        width: 600px;
        height: 600px;
    }
}

    .ttt-board tr td {
        width: 99px;
        height: 99px;
        border: 1px solid black;
    }

    @media (min-width: 600px) {
        .ttt-board tr td {
            width: 199px;
            height: 199px;
        }
    }

        .ttt-board tr td a {
            display: block;
            width: 100%;
            height: 100%;
        }

    .ttt-board tr td:first-child {
        border-left: 0;
    }

    .ttt-board tr td:last-child {
        border-right: 0;
    }

    .ttt-board tr:first-child td {
        border-top: 0;
    }

    .ttt-board tr:last-child td {
        border-bottom: 0;
    }

        .ttt-board.complete td div {
            opacity: 0.1;
        }

        .ttt-board.complete td div.active {
            opacity: 1;
        }

.piece {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 135px;
}

    .piece:before {
        position: absolute;
        top: -28px;
        left: 0;
    }

@media (min-width: 600px) {
    .piece {
        font-size: 270px;
    }
        .piece:before {
            top: -55px;
        }
}

.x-piece {
    color: #ff4141;
}

    .x-piece:before {
        content: "X";
    }

.o-piece {
    color: #0069bb;
}

    .o-piece:before {
        content: "O";
    }
